{% extends 'product/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<h1>Products</i></h1>

			<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Product Name</th>
		      <th scope="col">Product Price</th>
		   
		    </tr>
		  </thead>
		  <tbody>
		  {% for obj in object_list %}

		    <tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td>{{obj.name}}</a></td>
		      <td>{{obj.price}}</td>
		       <td> <a class='btn btn-success btn-sm mt-1 mb-1'href="{% url 'Product:product-update' obj.id %}">Update</a></td>
		      <td> {% include 'product/product_delete.html'%}</td>

		     
		    </tr>
		    {% endfor %}

		  </tbody>
		</table> 

	 <div class="container">
	  	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

	  	{% csrf_token %}
	  	
			{{form|crispy}}
	  		
	  				<button type="submit" class="btn btn-success">Add Product</button>
	  		
	  	</form></div>
{%endblock%}
